


header {
    height: 150px;
    width:100%;
    background-color: #3D3D3D;
    margin: 0 auto;
    
}

.rtsidebar {
    width: 120px;
    background-color:#DCDCDC;
    height: 1100px;
    float:right;
}
.ltsidebar {
    width: 120px;
    background-color: #DCDCDC;
    height: 1100px;
    float:left;
    
}
footer {
    background-color: black;
    height: 100px;
    width: 100%;
    margin-top: 1000px;
    margin-right: 100px;
    margin-left: 0px;
    padding: 0px;
}

